body{
  font-family: Arial, Helvetica, sans-serif;
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.container{
  width: 400px;
  background: rgb(26, 38, 75);
  border: 1px solid rgb(26, 38, 75);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;

}


span{
  font-size: 1.8rem;
}

.question-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.answers-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

button{
  width: 100%;
  padding: 10px;
  border: 3px solid rgb(59, 77, 133);
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
  background: transparent ;
  cursor: pointer;
  font-size: 1.25rem;
  margin-bottom:10px ;
}

p{
  font-size: 1.5rem;
  
}